# Server Setup
PORT=YOUR_PORT
NODE_ENV=YOUR_NODE_ENV
APP_URL=YOUR_APP_URL

# Database Connection (Prisma / PostgreSQL)
DATABASE_URL=YOUR_DATABASE_URL

# Security & Authentication
BCRYPT_SALT_ROUNDS=YOUR_BCRYPT_SALT_ROUNDS
JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
JWT_ACCESS_EXPIRES_IN=YOUR_JWT_ACCESS_EXPIRES_IN
JWT_REFRESH_EXPIRES_IN=YOUR_JWT_REFRESH_EXPIRES_IN

# Stripe Payment Gateway
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET
STRIPE_SUCCESS_URL=YOUR_STRIPE_SUCCESS_URL
STRIPE_CANCEL_URL=YOUR_STRIPE_CANCEL_URL